.item {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    display: inline-block;
}
.selected {
    background-color: #d3d3d3;
}
.item-container {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}
.remove {
    color: red;
    margin-left: 10px;
    cursor: pointer;
}
